
.content{
    padding: 3.5rem;
}

.content .back-btn{
    padding: .5rem 1.3rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border: none;
    background-color: #fff;
    border-radius: 0.25rem;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.back-btn i{
    margin-right: 1rem;
}

.info{
    margin-top: 3rem;
    display: flex;
    padding: 0 3rem;
}

.info .country-flag{
    width: 45%;
}

.info .country-info{
width: 55%;
}

.info .country-info .title{
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.table td, .table tr {
    border: none;
    padding: .2rem 2rem .2rem 0;
  }
  
  
  .table tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }

  .country-info .bottom-info{
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .bottom-info span{
    padding: .2rem .4rem;
    margin: .3rem;
    color: #858585;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);

  }

  .country-flag img{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
  }

  .table span{
    color: #858585;
  }

  @media (max-width: 1040px) {
    .info{
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;
    }

    .info .country-flag{
      width: 80%;
  }
  
  .info .country-info{
  width: 80%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  @media (max-width: 790px) {

    .info{
      padding: 0;
    }
    .info .country-flag{
      width: 100%;
  }
  .info .country-info{
    width: 100%;
    }

    .table td, .table tr{
      padding: .2rem 0;
    }
  }

  @media (max-width: 490px) {
    .info .country-flag{
      width: 100%;
  }
  .info .country-info{
    width: 100%;
    }
  }
  }